{
        "server":
                {
                        "host":"127.0.0.1" ,
                        "port":"9001" ,
                        "protocol":"http"
                } ,
        "auth":{
                "username":"admin",
                "password":"admin"
        }

}
